{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
编辑资产 - 固定资产管理系统
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('dashboard') }}">固定资产管理系统</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('dashboard') }}">资产列表</a></li>
                            <li><a href="{{ url_for('add_asset') }}">添加资产</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">管理员</a></li>
                            <li><a href="{{ url_for('logout') }}">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">编辑资产</h3>
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('sm', 2, 10)) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}